# A correct value allows Poktroll full node to participate in P2P communication
NODE_HOSTNAME=YOUR_NODE_IP_OR_HOST

# Pocket version/image tag
# POKTROLLD_IMAGE_TAG=main

# Credentials for AppGateServer and RelayMiner
APPGATE_SERVER_MNEMONIC=""
RELAYMINER_MNEMONIC=""

### You probably don't need to change these variables often
POKTROLLD_IMAGE_REPO=ghcr.io/pokt-network/poktrolld
SEEDS=f79895db789797645de368054cfa71fd7a33aeac@35.184.178.214:26656
POKTROLLD_LOG_LEVEL=info
