poktrolld-data/data
poktrolld-data/data-backup*
poktrolld-data/config/genesis.json
poktrolld-data/config/genesis.seeds
poktrolld-data/config/node_key.json
poktrolld-data/config/priv_validator_key.json
poktrolld-data/config/addrbook.json
poktrolld-data/config/write-file-atomic*
poktrolld-data/cosmovisor
relayminer/config/app.toml
relayminer/config/client.toml
relayminer/config/config.toml
relayminer/smt/
appgate/config/app.toml
appgate/config/client.toml
appgate/config/config.toml
gateway/config/app.toml
gateway/config/client.toml
gateway/config/config.toml
.env
*/keyring-test/*
.vscode
prometheus/data
grafana/data
.DS_Store
