# Please check documentation: https://dev.poktroll.com/operate/configs/supplier_staking_config
stake_amount: 1000000upokt
owner_address: YOUR_OWNER_ADDRESS
services:
  - service_id: F00C
    endpoints:
      # The endpoint URL for the Ethereum service is provided via the RelayMiner.
      # The RelayMiner acts as a proxy, forwarding requests to the actual Ethereum data node behind it.
      # This setup allows for flexible and dynamic service provisioning within the network.
      - publicly_exposed_url: http://YOUR_NODE_IP_OR_HOST:8545
        rpc_type: json_rpc
